<div class="panel" *ngIf="author">
  <div class="row ">
    <div class="col-md-2 col-sm-3 text-center">
      <img src="../assets/images/{{author?.img}}" alt="" srcset="" class="coverview">
    </div>
    <div class="col-md-10 col-sm-9">
      <h3 class="head" style="text-align: left;">
        {{author?.name}}
      </h3>
      <div class="col-xs-9">
        <h4><span class="label label-default">
            {{author?.language}}
          </span></h4>
        <h4 class="content">
            <span class="text-muted small ">
              {{author?.content}}
            </span>

        </h4>
      </div>
    </div>
  </div>
  <br>
  
</div>
