<div class="topbanner">
  <div class="container">
    <h1 class="heading">
      Library
    </h1>
    <h1 class="heading">
    </h1>
  </div>
</div>
<div class="container">
  <div class="Wrap">
    <router-outlet></router-outlet>
  </div>
</div>
<div class="container">
  <div class="row">
    <h1>Follow Us</h1>
    <div class="col">
      <button class="btn btn-outline facebook">
        <!-- <ion-icon name="logo-facebook"></ion-icon>  -->
        Facebook
      </button>
      <button class="btn btn-outline twitter">
        <!-- <ion-icon name="logo-twitter"></ion-icon>  -->
        Twitter
      </button>
    </div>
  </div>

</div>