<nav class="navbar navbar-expand-lg navbar-dark navbar-states">

  <div class="container-fluid container">
    <a class="navbar-nav nav-link me-auto " routerLink="/" routerLinkActive="active" style="color:rgb(217, 222, 243)">
      HOME
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <div>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
          <li class="nav-item">
            <a class="nav-link mylink" aria-current="page" routerLink="authors" routerLinkActive="active">AUTHORS
            </a>
          </li>
        </ul>
      </div>
      <div>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
          <li class="nav-item">
            <a class="nav-link mylink" aria-current="page" routerLink="books" routerLinkActive="active">BOOKS
            </a>
          </li>
        </ul>
      </div>
      <div>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
          <li class="nav-item">
            <a class="nav-link mylink" aria-current="page" routerLink="addauthor" routerLinkActive="active" >ADD AUTHOR
            </a>
          </li>
        </ul>
      </div>
      <div>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
          <li class="nav-item">
            <a class="nav-link mylink" aria-current="page" routerLink="addbook" routerLinkActive="active" >ADD BOOK
            </a>
          </li>
        </ul>
      </div>
      <div class="d-flex ms-auto">
        <div>
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
            <li class="nav-item" *ngIf="!ServiceObj.getlogin()">
              <a class="nav-link mylink" aria-current="page" routerLink="login" routerLinkActive="active" >LOGIN 
              </a>
            </li>
            <li class="nav-item" *ngIf="ServiceObj.getlogin()">
              <a class="nav-link mylink" aria-current="page" routerLinkActive="active" (click)="logout()">LOGOUT
              </a>
            </li>
            <li class="nav-item d-flex" *ngIf="!ServiceObj.getlogin()">
              <a class="btn btn-primary my-auto" aria-current="page" routerLink="signup" routerLinkActive="active">SIGNUP</a>
            </li>
          </ul>
        </div>
        <!-- <form class="d-flex py-2">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success mybtn" type="submit">Search</button>
        </form> -->
      </div>


    </div>
  </div>
</nav>